---
---

<section
  class="relative w-full space-y-3 px-12 pb-16 pt-12 text-center"
  id="contact"
>
  <h1 class="font-varela text-4xl font-bold md:text-5xl lg:text-6xl">
    צרו קשר
  </h1>
  <h3 class="font-vare text-2xl">השאירו פרטים ונחזור אליכם בקרוב</h3>
  <form
    action="https://formsubmit.co/maorrachmiel@gmail.com"
    class="mx-auto max-w-5xl space-y-8"
    onsubmit=""
    method="post"
  >
    <input
      type="text"
      name="name"
      id="name"
      class="block w-full rounded-full border border-gray-300 bg-gray-50 p-2.5 text-base text-gray-900 shadow-sm"
      required
      placeholder="שם מלא"
    />

    <input
      type="number"
      name="phone"
      id="phone"
      class="block w-full rounded-full border border-gray-300 bg-gray-50 p-2.5 text-base text-gray-900 shadow-sm"
      required
      placeholder="מספר טלפון"
    />

    <textarea
      id="message"
      name="message"
      rows="6"
      class="block w-full rounded-3xl border border-gray-300 bg-gray-50 p-2.5 text-base text-gray-900 shadow-sm"
      style="direction:RTL;"
      placeholder="הודעה (לא חובה)"></textarea>

    <button
      type="submit"
      data-ripple-light="true"
      class="w-full max-w-4xl rounded-full bg-primary py-2 text-center font-heebo text-xl font-semibold text-white shadow-sm transition-all duration-150 hover:scale-105 hover:shadow-md focus:outline-none focus:ring-4"
      >חזור אליי!</button
    >
  </form>
</section>
